{{ define "content"}}
<div class="content">
    <h2 class="title is-4">{{ .Title }}</h2>
    {{ range .Pages.GroupByDate "2006" }}
    <h3 class="title is-5 mt-5">{{ .Key }}</h3>
    {{ range .Pages }}
    <a href="{{ .Permalink }}" class="mb-2" style="color: inherit; display: block;">
        <div class="columns is-mobile is-gapless mb-0">
            <span class="column is-narrow" style="width: 7rem;">{{ .Date.Format "Jan 2" }}</span>
            <div class="column is-narrow" style="width: 22rem;">
                <span class="has-text-weight-bold">{{ .Title }}</span>
                {{ if .Description }}
                <div class="is-size-7 has-text-grey">{{ .Description }}</div>
                {{ end }}
            </div>
            {{ if .Param "book-author" }}
            <span class="column">{{ .Param "book-author" }}</span>
            {{ end }}
        </div>
    </a>
    {{ end }}
    {{ end }}
</div>
{{ end }}

{{ define "sidebar" }}
<div class="column">
    {{ partial "tag-sidebar.html" . }}
</div>
{{ end }}
