{{ define "content"}}
<ul>
    {{ range where .Site.RegularPages "Section" "posts" }}
    <li class="card">
        <div class="card-content">
            <div class="content">
                <p class="is-size-4">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </p>
                <div class="level">
                    <div class="level-left">
                        {{ if .Param "book-author" }}
                        <strong>By {{ .Param "book-author" }}</strong>
                        {{ else }}
                        <strong>{{ .Description }}</strong>
                        {{ end }}
                    </div>
                    <div class="level-right">
                        <em>{{ .Date.Format "Jan 2, 2006" }}</em>
                    </div>
                </div>
                <p>{{ .Content | strings.Truncate 240 }}</p>
                <p>
                    <a href="{{ .Permalink }}"><em>Read more...</em></a>
                </p>
            </div>
        </div>
    </li>
    <br />
    {{ end }}
</ul>
{{ end }}
